@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutForDriver.cshtml";
}
@model TMS_APP.Models.DTO.DriverTripViewModel

<h1>Pay Advise</h1>

<div class="container-fluid">

    <div >
        <div >
            <table class="table border-dark">
                <thead>
                <th>
                    <strong>Pay Rate: </strong> @Model.User.PayRate
                </th>
                <th>
                    <strong>My Total Trips: </strong> @Model.Trips.Count()
                </th>
                </thead>
            </table>
</div>
<hr />
<br />
<div class="row">
<div class="col col-10">
            <table class="table">
                <thead>
                <th>
                    <strong>Total Load: </strong>
                </th>
                <th>
                    <strong>Total Mileage: </strong>
                </th>
                <th><strong>Estimate Pay</strong></th>
                </thead>
                <tbody>
                <td>
                </td>
                <td>
                </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tbody>
            </table>
</div>
<div class="col col-2">
    <form>
    <input type="text" hidden name="paySlipDate" />
    <input type="date"  class="form-group"/>
    <button type="submit" >GO</button>
                </form>
</div>
        </div>
        <hr />
        <br />
        <table class="table">
            <thead>
            <th>
                <strong>Total Load: </strong>
            </th>
            <th>
                <strong>Total Mileage: </strong>
            </th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>
