@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutForDriver.cshtml";
}
@model TMS_APP.Models.DTO.DriverTripViewModel

@if (Model != null)
{
    <h1>Pay Advise</h1>

    <div class="container-fluid">

        <div>
            <div>
                <table class="table border-dark">
                    <thead>
                    <th>
                        <strong>Pay Rate: </strong> @Model.User.PayRate
                    </th>
                    <th>
                        <strong>My Total Trips: </strong> @Model.Trips.Count()
                    </th>
                    </thead>
                </table>
            </div>
            <hr />
            <br />
            <h2>Current Trip and Pay Estimate</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <strong>TripId: </strong>
                        </th>
                        <th>
                            <strong>Estimate Mileage: </strong>
                        </th>
                        <th><strong>Estimate Pay</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <br />
            <h2>Completed trips and Pay report</h2>
            <div class="row">
                <div class="col col-10">
                    <table class="table">
                        <thead>
                            <tr>

                        <th>
                            <strong>Completed Trips(TripID): </strong>
                        </th>
                        <th>
                            <strong>Mileage(Km) </strong>
                        </th>
                        <th><strong>Estimate Pay(CAD)</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col col-2">
                    <form>
                        <input type="text" hidden name="paySlipDate" />
                        <input type="date" class="form-group" />
                        <button type="submit">GO</button>
                    </form>
                </div>
            </div>
            <hr />
            <br />
           <div>
               Chart goes here
           </div>
        </div>

    </div>

}else
{
    <div class="alert-danger">

        <h3> The page ecountered some issue, please contact your admin!</h3>

    </div>
}
