@*
    
*@
@{
    ViewData["Title"] = "Dispatch Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to dispatch dash</h2>
//CRUD on trips
<a asp-controller="TripsController" asp-action="Index"> Trip Dashboard</a>
<a asp-controller="Dispatch" asp-action="DriverManagement">Driver Management</a>
<a asp-controller="Dispatch" asp-action="PayCenter">Pay Center</a>

