@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to contact us</h1>
    <p>Address:abc</p>
    <p>Post Code: 12345</p>
    <p>telephone number:44444444</p>
</div>
