@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h1 class="display-4">Welcome to Swift Haul</h1>
            </div>
            <div class="text-center">
                <p class="display-7">The ideal TMS</p>
            </div>
            <div>
                <p>
                    Our industry-leading technology solutions are transforming the way
                    carriers,shippers and brokers operate across the transportation supply chain continuum.
                </p>
            </div>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-4" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary">Check Pricing</button>
                </div>
                <div class="btn-group me-4" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-light">Expore Features</button>
                </div>
            </div>
        </div>
        <div class="col">
            <img src="/Pictures/truck.png" style="width:500px" />
        </div>
    </div> 
</div>

