@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center ">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


</div> *@
<div class="row">
    <div class="col">
        <h3>
            <u>Welcome to Swift Haul</u>
        </h3>
        <h5>
            The ideal TMS
        </h5>
        <p>
            Our industry-leading technology solutions are 
            transforming the way carriers, shippers and brokers
            operate across the transportation supply chain continuum.
        </p>
    </div>
    <div class="col-sm">
        <img class="rounded w-100 h-100" src="img/MicrosoftTeams-image (2).png" />
    </div>
</div>
<hr />
<div class="row">
    <div class="row  text-center ">
        <h2>
            Driving the transportation industry forward
        </h2>
        <p>
            Swift Haul technologies empower transportation
            stakeholders—drivers, carriers, intermediaries and shippers—to improve collaboration, maximize resource utilization and freight coverage, 
            and transform the world's supply chain for everyone it serves
        </p>
    </div>
    <div class="row justify-content-around">

            <div class="card mt-4" style="width: 18rem;">
                    <img src="~/img/Screenshot 2023-08-15 220419.png" class="card-img" alt="Card image" />
                    <div class="card-body">
                        <h5 class="card-title">Tracking and Visibility</h5>
                    </div>
            </div>
            
        

        
            <div class="card mt-4" style="width: 18rem;">
                <img src="~/img/Screenshot 2023-08-15 220435.png" class="card-img" alt="Card image" />
                <div class="card-body" style="width: 18rem;">
                    <h5 class="card-title">Routing and Optimization</h5>
                </div>
            </div>
            
        

            <div class="card mt-4" style="width: 18rem;">
                <img src="~/img/Screenshot 2023-08-15 220401.png" class="card-img" alt="Card image" />
                <div class="card-body">
                    <h5 class="card-title">Transportation and management</h5>
                </div>
            </div>
            
       
       
    </div>
</div>
