@*@model TMS_APP.Models.Trip*@
@model TMS_APP.Models.DTO.DriverTripViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h1>Create</h1>

<h4>Trip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="trip.CustomerName" class="control-label"></label>
                <input asp-for="trip.CustomerName" class="form-control" />
                <span asp-validation-for="trip.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trip.PickupLocationAddress" class="control-label"></label>
                <input asp-for="trip.PickupLocationAddress" class="form-control" />
                <span asp-validation-for="trip.PickupLocationAddress" class="text-danger"></span>
            </div>
         @*    <div class="form-group">
                <label asp-for="trip.PickupLocationCountry" class="control-label"></label>
                <input asp-for="trip.PickupLocationCountry" class="form-control" />
                <span asp-validation-for="trip.PickupLocationCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trip.PickupLocationState" class="control-label"></label>
                <input asp-for="trip.PickupLocationState" class="form-control" />
                <span asp-validation-for="trip.PickupLocationState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trip.PickupLocationCity" class="control-label"></label>
                <input asp-for="trip.PickupLocationCity" class="form-control" />
                <span asp-validation-for="trip.PickupLocationCity" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="trip.PickupLocationCountry" class="control-label"></label>
                <select class="form-select Country" asp-for="trip.PickupLocationCountry" onclick="loadCountries()" onchange="loadStates()">
                    <option selected >Select Country</option>
                </select>
               
                <span asp-validation-for="trip.PickupLocationCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trip.PickupLocationState" class="control-label"></label>
                <select class="form-select State" asp-for="trip.PickupLocationState" onchange="loadCities()">
                    <option selected>Select State/Province</option>
                </select>
               
                <span asp-validation-for="trip.PickupLocationState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trip.PickupLocationCity" class="control-label"></label>
                <select class="form-select City" asp-for="trip.PickupLocationCity">
                    <option selected>Select City</option>
                </select>
               
                <span asp-validation-for="trip.PickupLocationCity" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="trip.DeliveryLocationAddress" class="control-label"></label>
                <input asp-for="trip.DeliveryLocationAddress" class="form-control" />
                <span asp-validation-for="trip.DeliveryLocationAddress" class="text-danger"></span>
            </div>
          @*   <div class="form-group">
                <label asp-for="trip.DeliveryLocationCountry" class="control-label"></label>
                <input asp-for="trip.DeliveryLocationCountry" class="form-control" />
                <span asp-validation-for="trip.DeliveryLocationCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trip.DeliveryLocationState" class="control-label"></label>
                <input asp-for="trip.DeliveryLocationState" class="form-control" />
                <span asp-validation-for="trip.DeliveryLocationState" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="trip.DeliveryLocationCity" class="control-label"></label>
                <input asp-for="trip.DeliveryLocationCity" class="form-control" />
                <span asp-validation-for="trip.DeliveryLocationCity" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="trip.DeliveryLocationCountry" class="control-label"></label>
                <select id="CountryDel" class="form-select " asp-for="trip.DeliveryLocationCountry"  onchange="loadDelStates()">
                    <option selected>Select Country</option>
                </select>
               
                <span asp-validation-for="trip.DeliveryLocationCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trip.DeliveryLocationState" class="control-label"></label>
                <select id="StateDel" class="form-select " asp-for="trip.DeliveryLocationState" onchange="loadDelCities()">
                    <option selected>Select State/Province</option>
                </select>
               
                <span asp-validation-for="trip.DeliveryLocationState" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="trip.DeliveryLocationCity" class="control-label"></label>
                <select id="CityDel" class="form-select " asp-for="trip.DeliveryLocationCity">
                    <option selected>Select City</option>
                </select>
               
                <span asp-validation-for="trip.DeliveryLocationCity" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="trip.PickupDate" class="control-label"></label>
                <input type="date" asp-for="trip.PickupDate" class="form-control" />
                <span asp-validation-for="trip.PickupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trip.DeliveryDate" class="control-label"></label>
                <input type="date" asp-for="trip.DeliveryDate" class="form-control"  />
                <span asp-validation-for="trip.DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trip.ShipmentWeight" class="control-label"></label>
                <input asp-for="trip.ShipmentWeight" class="form-control" />
                <span asp-validation-for="trip.ShipmentWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trip.TotalAmount" class="control-label"></label>
                <input asp-for="trip.TotalAmount" class="form-control" />
                <span asp-validation-for="trip.TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trip.Quantity" class="control-label"></label>
                <input asp-for="trip.Quantity" class="form-control" />
                <span asp-validation-for="trip.Quantity" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="trip.Status" class="control-label"></label>
                <select asp-for="trip.Status" class="form-control">
                    <option selected value="">Please choose</option>
                    <option  value="1">In Progress</option>
                    <option  value="3">Unassigned</option>
                    <option  value="0">Completed</option>
                </select>
              
                <span asp-validation-for="trip.Status" class="text-danger"></span>
            </div>*@
           @* <div class="form-group">
                <label asp-for="DriverName" class="control-label"></label>
                <input asp-for="DriverName" class="form-control" />
                <span asp-validation-for="DriverName" class="text-danger"></span>
            </div>*@
            @*name="DriverId"*@
            <div class="form-group">
                <label>Select Driver</label>
                <select asp-items="@Model.DriverList" class="form-select border-0 shadow"  asp-for="@Model.UserId">
                    <option value="" selected>--Select Driver--</option>
                </select>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/App.js"></script>

